<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HRISv2 Leave Administration</title>
		@Styles.Render("~/bundles/vendorCSS")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/vendorJS")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("e-Leave", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("myLeave", "MyLeave", "Leave")</li>
                    @*<li>@Html.ActionLink("Create", "CreateRequest", "Leave")</li>*@
                    <li>@Html.ActionLink("Recommend", "Recommend", "Leave")</li>
                    <li>@Html.ActionLink("Posting", "Posting", "Leave")</li>
                    <li>@Html.ActionLink("Approve", "Approve", "Leave")</li>
                    <li>@Html.ActionLink("Reports", "Reports", "Leave")</li>
                    <li>@Html.ActionLink("Utility", "Utility", "Leave")</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Leave")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="app">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year e-Leave Administration</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
